/* PROPRIEDADES PERSONALIZADAS */

:root {
  /* colors */

  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  --gray-70: #c4c4c4;
  --gray-90: #e5e5e5;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  --white: #ffffff;

  /* font-size */

  --ff-inter: "Inter", sans-serif;

  --fs-0: 10rem;
  --fs-1: 7.8rem;
  --fs-2: 3.8rem;
  --fs-3: 3rem;
  --fs-4: 2.5rem;
  --fs-5: 2rem;
  --fs-6: 1.4rem;
  --fs-7: 1.1rem;

  --fw-400: 400;
  --fw-700: 700;

  /* border radius */

  --radius-32: 32px;
  --radius-24: 24px;

  /* transition */

  --transition-1: 0.5s ease;
}

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
strong,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-inter);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/image/luffy.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
  line-height: 1.3;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-100);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-100);
}

/* HEADER */

.main-title {
  text-align: center;
  color: var(--dark-blue-200);
  text-transform: capitalize;
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
}

.header_image {
  width: 15%;
  margin-top: 10px;
}

/* TEXT AREA */

.form-decoded-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-decoded-text {
  background-color: transparent;
}

.decoded-text {
  background-color: transparent;
  width: 90%;
  outline: none;
  border: none;
  font-family: var(--ff-inter);
  font-weight: var(--fw-400);
  font-size: var(--fs-5);
  color: var(--white);
  padding: 20px 0 0 40px;
  margin-bottom: 150px;
}

.decoded-text::placeholder {
  color: var(--white);
}

.form-result-paragraph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-result-paragraph {
  background-color: transparent;
}

.textarea-result-paragraph {
  background-color: transparent;
  width: 90%;
  outline: none;
  border: none;
  font-family: var(--ff-inter);
  font-weight: var(--fw-400);
  font-size: var(--fs-5);
  color: var(--dark-blue-300);
  padding: 20px 0 0 39px;
  margin-bottom: 15px;
  display: none;
}

/* ALERT */

.alert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-7);
  margin-right: 10px;
}

.alert-icon {
  color: var(--gray-500);
  width: 18px;
  height: 18px;
}

.alert-description {
  color: var(--white);
  font-weight: var(--fw-400);
  margin-left: 5px;
  padding: 1px;
}

/* BUTTON */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.encrypt-button {
  width: 270px;
  height: 58px;
  border: 1px solid var(--dark-blue-300);
  background-color: var(--dark-blue-300);
  border-radius: var(--radius-24);
  color: var(--white);
  margin: 10px;
  transition: var(--transition-1);
}

.encrypt-button:hover {
  background-color: var(--gray-90);
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  font-size: var(--fs-5);
}

.decrypt-button {
  width: 270px;
  height: 58px;
  background-color: var(--gray-90);
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  border-radius: var(--radius-24);
  margin: 10px;
  transition: var(--transition-1);
}

.decrypt-button:hover {
  border: 1px solid var(--dark-blue-300);
  background-color: var(--dark-blue-300);
  color: var(--white);
  font-size: var(--fs-5);
}

.copy-button {
  margin: 0 auto;
  width: 200px;
  height: 55px;
  background-color: var(--white);
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  border-radius: var(--radius-24);
  display: none;
  transition: var(--transition-1);
}

.copy-button:hover {
  border: 1px solid var(--dark-blue-300);
  background-color: var(--dark-blue-300);
  color: var(--white);
  font-size: var(--fs-5);
}

/* TEXT RESULT */

.text-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 195px;
  background-color: var(--white);
  margin: 40px auto;
  border-radius: var(--radius-32);
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
}

.text-result-title {
  text-align: center;
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  color: var(--gray-500);
  padding: 35px 0;
}

.text-result-paragraph {
  text-align: center;
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  color: var(--gray-400);
}

/* FOOTER */

.footer-bottom {
  background-color: var(--gray-500);
  color: var(--white);
  text-align: center;
  padding-block: 15px;
  margin-top: 14%;
  position: relative;
}

.copyright-link {
  display: inline-block;
  color: var(--dark-blue-100);
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block-start: 10px;
}

.footer-bottom-list li {
  display: flex;
  align-items: center;
}

.bottom-link-icon {
  width: 30px;
  height: 30px;
}

.footer-bottom-link {
  padding-inline-start: 3px;
  transition: var(--transition-1);
}

.footer-bottom-link::before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--dark-blue-100);
  border-radius: 50%;
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--dark-blue-100);
}

/* MEDIA QUERIES */

/* responsivo para tela maior que 375px */

@media (min-width: 375px) {
  .decoded-text {
    padding-left: 65px;
    width: 85%;
  }

  .decoded-copy-text {
    max-width: 93%;
  }

  .encrypt-button {
    width: 325px;
  }

  .decrypt-button {
    width: 325px;
  }

  .copy-button {
    width: 260px;
    height: 50px;
    margin-top: 30px;
  }

  .text-result-container {
    width: 325px;
    padding: 0 10px;
  }
}

/* ----------------------------------------- */

@media (min-width: 425px) {
  .decoded-text {
    padding-left: 90px;
    width: 82%;
  }

  .encrypt-button {
    width: 370px;
  }

  .decrypt-button {
    width: 370px;
  }

  .copy-button {
    width: 290px;
    height: 50px;
  }

  .text-result-container {
    width: 370px;
    padding: 0 30px;
  }
}

/* ----------------------------------------- */

@media (min-width: 768px) {
  .main-title {
    font-size: var(--fs-1);
  }

  .decoded-text {
    background-color: transparent;
    width: 688px;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
  }

  .alert-container {
    position: relative;
    font-size: var(--fs-6);
    right: 180px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px auto;
  }

  .encrypt-button {
    width: 332px;
    margin: 10px;
  }

  .decrypt-button {
    width: 332px;
    margin: 10px;
  }

  .text-result-container {
    width: 688px;
    height: 155px;
  }

  .form-result-paragraph-container {
    display: block;
  }

  .form-result-paragraph {
    height: 145px;
  }

  .textarea-result-paragraph {
    width: 650px;
    height: 145px;
    margin-right: 37px;
  }

  .copy-button {
    width: 580px;
    height: 45px;
    bottom: -155px;
  }
}

/* ----------------------------------------- */

@media (max-width: 991px) {
  .img-text-result {
    display: none;
  }
}

/* ----------------------------------------- */

@media (min-width: 992px) {
  .main-container {
    display: flex;
  }

  .main-title {
    text-align: start;
    margin: 40px 0 0 40px;
  }

  .decoded-text {
    width: 600px;
    max-width: 90%;
    height: auto;
    margin-left: 35px;
  }

  .alert-container {
    right: 118px;
  }

  .button-container {
    margin: 20px auto;
  }

  .encrypt-button {
    width: 265px;
  }

  .decrypt-button {
    width: 265px;
  }

  .text-result-container {
    position: absolute;
    width: 325px;
    height: 685px;
    top: 5px;
  }

  .img-text-result {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }

  .text-result-title {
    padding: 25px 10px;
  }

  .text-result-paragraph {
    padding: 0 15px;
  }

  .form-result-paragraph {
    height: 400px;
  }

  .textarea-result-paragraph {
    margin-top: 100px;
    width: 290px;
    height: 450px;
  }

  .copy-button {
    position: absolute;
    top: 600px;
    right: 60px;
    width: 270px;
    height: 50px;
  }
}

/* ----------------------------------------- */

@media (min-width: 1024px) {
  .text-result-container {
    width: 345px;
  }

  .text-result-title {
    padding: 25px 15px;
  }

  .text-result-paragraph {
    padding: 0 25px;
  }

  .copy-button {
    right: 81px;
  }
}

/* ----------------------------------------- */

@media (min-width: 1200px) {
  .decoded-text {
    width: 700px;
    max-width: 100%;
    height: auto;
  }

  .alert-container {
    right: 160px;
  }

  .button-container {
    margin: 20px auto;
  }

  .encrypt-button {
    width: 310px;
  }

  .decrypt-button {
    width: 310px;
  }

  .text-result-container {
    width: 350px;
    right: 50px;
  }

  .copy-button {
    top: 600px;
    right: 90px;
  }
}

/* ----------------------------------------- */

@media (min-width: 1440px) {
  .main-title {
    text-align: start;
    margin: 100px 0 0 150px;
  }

  .decoded-text {
    width: 800px;
    max-width: 100%;
    margin-left: 140px;
  }

  .alert-container {
    font-size: var(--fs-6);
    right: 160px;
  }

  .text-result-container {
    width: 350px;
    height: 710px;
    top: 40px;
    right: 55px;
  }

  .copy-button {
    top: 660px;
    right: 95px;
  }

  .footer-bottom {
    margin-top: 335px;
  }
}
